/**
 * Base Styles
 */
/*
959ca3 - Main gray
2e3d48 - Main text
333333 - Main text:hover
*/

 * { box-sizing: border-box; }
html, body {
	background: #eaeaea;
	color: #2e3d48;
	font-family: -apple-system, "Roboto", BlinkMacSystemFont, sans-serif;
	line-height: 1.6;
	font-size: 15px;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
.container { margin: 0 auto; max-width: 1050px; }


/**
 * Links
 */
a {
	color: #1C9BC5;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:hover { color: #056495; }
a:active { color: #E05020; }

/**
 * Utilities
 */
.u-text-center { text-align: center; }
.u-left { float: left; display: inline-block; }
.u-right { float: right; display: inline-block; }
.u-clearfix { zoom:1; }
.u-clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 700;
}
h1 { font-size: 3.0em; line-height: 1.2; }
h2 { font-size: 2.5em; line-height: 1.25; }
h3 { font-size: 2.0em; line-height: 1.3; }
h4 { font-size: 1.5em; line-height: 1.35; }
h5 { font-size: 1.3em; line-height: 1.5; }
h6 { font-size: 1.2em; line-height: 1.6; }

hr { border: none; border-bottom: 1px solid #e6e6e6; margin: 10px auto; }
b, strong { font-weight: 600; }
i { font-style: italic; }

p { margin: 0 0 10px; }

ul.inline {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.inline li { display: inline-block; }

ul.list {
	margin: 0 0 1rem;
	padding: 0 0 0 1rem;
	list-style: disc;
}
.hidden {
	display: none!important;
}



/**
 * header
 */
header {
	background: #eaeaea;
	z-index: 100;
	padding: .25rem 1rem;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;

	/*background: rgba(234, 234, 234, 0.8);*/
	/*backdrop-filter: saturate(180%) blur(20px);*/
}
.container--header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	overflow: auto;
	width: 100%;
	overflow-y: hidden;
}
.header__block {
	display: flex;
	flex: 0 0 auto;
	margin-right: 1rem;
}
.header__block:last-child { margin-right: 0 }
.navigation__item {
	display: inline-block;
	color: #959ca3;
	margin-right: 1rem;
	padding: .75rem 0;
}
.navigation__item:active {
	color: #2e3d48;
}
.navigation__item:last-child { margin-right: 0; }
.navigation__item--logo > span { opacity: .6; }
.navigation__item--active { color: #2e3d48; }

/**
* Main block
*/
main {
	flex: 1;
	width: 100%;
}
.container--main {
	margin: 1.5rem auto;
	display: flex;
}



section.content {
	flex: 3 0 0;
	order: 1;
}


/**
 * Aside
 */
aside {
	flex: 1 0 0;
	order: 2;
	margin-left: 1.5rem;
}

.aside__block {
	background: #fff;
	position: relative;
	width: 100%;
	margin: 0 0 1.5rem 0;
	padding: 1rem;
	border-radius: .25rem;
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.15),
				0 2px 15px 0 rgba(149, 156, 163, 0.15);
}
.aside__block:hover {
	box-shadow: 0 .0005rem .1rem 0 rgba(149, 156, 163, 0.2),
				0 2px 10px 0 rgba(149, 156, 163, 0.2);
}
.aside__block--loading {
	opacity: .4;
}
.aside__block--button {
	cursor: pointer;
	text-align: center;
	padding: .5rem;
}
.list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .2rem 0;
}
.list__item > a {
	display: block;
	padding: .3rem 1rem;
	flex: 1 1 100%;
	color: #2e3d48;
	border-radius: .25rem;
	transition: background-color .2s ease-out;
}
.list__item:hover > a {
	color: #333333;
}
.list__item--active > a,
.list__item--active:hover > a {
	background-color: #ffb400;
	color: #000;
}
.list__item--disabled > a { opacity: .4; pointer-events: none; cursor: no-drop; user-select: none; }
.list__item--disabled > .list__item__meta { user-select: none; opacity: .4; }
.list__item--divide { border-top: 1px solid #e4e4e4; margin: .5rem 0; }

.list__item__meta {
	display: block;
	padding: .3rem 1rem;
	color: #2e3d48;
	border-radius: 3px;
	cursor: pointer;
}
.list__item__meta:hover {
	color: #333333;
}


.tags-list {
	padding: .5rem;
	margin: 0 0 .5rem 0;
	background-color: #ffffff;
	box-shadow: 0px 0px 2px #d4d4d4, 1px 1px 1px #e4e4e4;
	border-radius: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	overflow: auto;
	width: 100%;
}
.tags-list > .container {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.tags-list .button {
	margin: .2rem;
}


.page__content {
	background: #fff;
	position: relative;
	padding: 1rem 1.5rem;
	border-radius: .25rem;
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.15),
				0 2px 15px 0 rgba(149, 156, 163, 0.15);
}
.page__content:hover {
	box-shadow: 0 .0005rem .1rem 0 rgba(149, 156, 163, 0.2),
				0 2px 10px 0 rgba(149, 156, 163, 0.2);
}
.page__info {
	margin: .5rem 0 0 0;
	color: #959ca3;
	font-size: .85rem;
}

/**
 * Pagination
 */
.pagination { padding: 2rem 0; text-align: center; user-select: none; }
.pagination li { display: inline-block; margin-right: .5rem; }
.pagination li:last-child { margin-right: 0; }






/* Topic
 ================================== */
 .topic__container {
	position: relative;
}
.topic {
	background: #fff;
	padding: 1rem 1.5rem;
	margin: 0 0 1.5rem 0;
	position: relative;
	border-radius: .25rem;
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.15),
				0 2px 15px 0 rgba(149, 156, 163, 0.15);

}
.topic--hidden { padding: .5rem 1.5rem; }
.topic--hidden span { opacity: .6; font-size: .85rem; }
.topic--moderate { border-left: 2px solid #ffb400; }
.topic:hover {
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.2),
				0 2px 15px 0 rgba(149, 156, 163, 0.2);
}

.topic__meta {
	color: #959ca3;
	font-size: .8rem;
	margin: -1rem -1.5rem .5rem;
	padding: 1rem 1.5rem 0;
	border-radius: .25rem .25rem 0 0;
	display: flex;
}
.topic__meta > span { margin-right: .5rem; }
.topic__meta > span:last-child { margin-right: 0; }
.topic__meta > span.divide { color: #efefef; }
.topic__meta > span.options {
	position: relative;
	margin-left: auto;
}
.topic__meta > span.options > span {
	cursor: pointer;
	user-select: none;
	font-weight: bold;
	font-size: 17px;
	line-height: 19px;
}
.topic__meta > span.options--open >span { color: #2e3d48; }

.options-menu {
	position: absolute;
	z-index: 1;
	padding: .25rem .5rem;
	right: -32px;
	top: 25px;
	min-width: 110px;
	background-color: #fff;
	border-radius: .25rem;
	text-align: left;
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.15),
				0 2px 15px 0 rgba(149, 156, 163, 0.15);
}
.options-menu:hover {
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.2),
				0 2px 15px 0 rgba(149, 156, 163, 0.2);
}
.options-menu:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fff;
	transform: rotate(45deg);
	right: 34px;
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	top: -6px;
}
.options-menu > span { display: block; }
.options-menu > span.divide { border-top: 1px solid #efefef; margin: .25rem 0; }
.options-menu > span > a {
	display: block;
	white-space: nowrap;
	font-size: .8rem;
	padding: .25rem .5rem;
	user-select: none;
}


.topic__title {
	margin: 0;
	word-break: break-word;
}
.topic__title__link {
	color: #2e3d48;
	display: inline-block;
}

.topic__title__link:hover {
	color: #333333;
}

.topic__files {
	display: inline-block;
	vertical-align: top;
	margin: .5rem .5rem 0 0;
}

.topic__message {
    padding: .2rem 0;
    line-height: 1.4;
	word-break: break-word;
	display: block;
}
.topic__message--cutted {
    overflow: hidden;
    position: relative;
}
.topic__message--cutted:after {
    content: "";
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.topic__info {
	color: #959ca3;
	font-size: .8rem;
	margin: .5rem -1.5rem -1rem;
	padding: 0 1.5rem 1rem;
	border-radius: 0 0 .25rem .25rem;
	display: flex;
}
.topic__info > span { margin-right: .5rem; }
.topic__info > span:last-child { margin-right: 0; }
.topic__info > span.divide { color: #efefef; }
.topic__info > span.state { margin-left: auto; }

.topic__comments {
	background: #fff;
	position: relative;
	border-radius: .25rem;
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.15),
				0 2px 15px 0 rgba(149, 156, 163, 0.15);
}
.topic__comments:hover {
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.2),
				0 2px 15px 0 rgba(149, 156, 163, 0.2);
}
.topic__comments__title {
	padding: 1rem 1.5rem;
	border-bottom: 1px solid #efefef;
	margin: 0;
}
.topic__comments__container {
	padding: 1rem 1.5rem;
}

.topic__navigation {
	margin: 0 0 .5rem 0;
	padding: .5rem;
	background-color: #ffffff;
	border-radius: .25px;
	box-shadow: 0 0.0005rem 0.1rem 0 rgba(149, 156, 163, 0.15),
				0 2px 15px 0 rgba(149, 156, 163, 0.15);
}

/** File */
/** ================================== */
.file {
	display: inline-block;
	position: relative;
	vertical-align: top;
	border: none;
	margin: 0 .5rem .5rem 0;
}
.file__link {
	display: block;
}
.file__thumb {
	display: block;
	border-radius: 5px;
	width: 120px;
	transition: opacity .3s;
}
.file__info {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 10px;
	background: rgba(0, 0, 0, 0.62);
	border-radius: 5px 0 5px;
	color: #fff;
	padding: 2px 7px;
}


/**
 * Footer
 */
footer {
	z-index: 100;
	padding: 1rem;
	width: 100%;

	text-align: center;
	color: #959ca3;
	font-size: .8rem;
}
footer ul li { margin-right: .5rem; }
footer ul li:last-child { margin: 0; }

/* MarkUp */
.spoiler { background: #383838; color: #383838; -webkit-user-select: none; }
.spoiler a { color: #383838; }
.spoiler:hover { color: #fff; }
.spoiler:hover a { color: #1C9BC5; text-decoration: underline; }
.quote { color: #789922; }
.underline { text-decoration: underline; }
pre {
	display: inline-block;
	white-space: pre;
	font-size: 11px;
}




/* Form control
 ================================== */
.form {
}
.form__group {
	margin-bottom: 1rem;
}
.form__group:last-of-type {
	margin-bottom: 0;
}
.form__group--required .form__label:after {
	color: #c51c1c;
	content: ' *';
}
.form__group--checkbox,
.form__group--radio {
	position: relative;
}
.form__group--checkbox input[type=checkbox],
.form__group--radio input[type=radio] {
	position: absolute;
	margin-top: 4px\9;
	margin-left: -20px;
}
.form__group--checkbox label,
.form__group--radio label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	cursor: pointer;
}
.form__label {
	font-weight: normal;
	display: block;
	margin-bottom: .5rem;
}
.form__desc {
	font-size: .85em;
	color: #959ca3;
	font-weight: normal;
	display: block;
	margin-top: .5rem;
}
.form__error {
	font-size: .85em;
	color: #ea6d6d;
	margin: .5rem 0;
}
/* Input's and B. Button's
 ================================== */
/* Input's */
.input {
	background: #f5f5f5;
	color: #333333;
	border: 1px solid #CCCCCC;
	padding: .5rem;
	display: inline-block;
	outline: none;
	transition: border .3s, background .3s, color .3s;
	border-radius: 4px;
	font-size: 12px;
}
.input:hover { background-color: #fefefe; border-color: #CACACA; text-decoration: none; }
.input.input-big { width: 100%; }

/* Button's */
.button {
	background: #fff;
	color: #333333;
	border: 1px solid rgba(0,0,0,.2);
	padding: 0 1rem;
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: border .3s, background .3s, color .3s;
	border-radius: 3px;
	font-size: 12px;
	line-height: 28px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button:hover { background: #fff; color: #333333; border-color: rgba(0,0,0,.3); text-decoration: none; }
.button--link {
	background: transparent;
	border-color: transparent;
}
.button--link:hover {
	background: transparent;
	border-color: transparent;
	color: #000;
}
.button--action {
	background: #ffb400;
	border-color: #ffb400;
	color: #000;
}
.button--action:hover {
	background: #e8a504;
	border-color: #e8a504;
}
.button--big { width: 100%; }
.button--small { padding: 0 .8rem; line-height: 24px }
.button--disabled,
.button:disabled { opacity: .6; cursor: no-drop; pointer-events: none; }

/* Sran gospodnya */
textarea {
	background: #f5f5f5;
	color: #333333;
	border: 1px solid #CCCCCC;
	padding: .5rem;
	display: inline-block;
	outline: none;
	transition: border .3s, background .3s, color .3s;
	border-radius: 4px;
	resize: both;
	vertical-align: top;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	font-size: 12px;
}
textarea:hover, textarea:focus {background-color: #fefefe;border-color: #CACACA;text-decoration: none;}


.topic-form {
	background-color: #ffffff;
	box-shadow: 0px 0px 2px #d4d4d4, 1px 1px 1px #e4e4e4;
	border-radius: 5px;
	margin: 0 0 .5rem 0;
	overflow: hidden;
}
.topic-form__container {
	padding: .5rem;
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: flex-end;
}
.topic-form__content {
	outline: 0;
	min-height: 45px;
	width: 100%;
	resize: none;
	max-height: 170px;
	overflow-y: auto;
	overflow-x: hidden;
	line-height: 1.4;
	margin-bottom: 0;
	margin-right: .5rem;
	word-wrap: break-word;
	border: none;
	-webkit-font-smoothing: subpixel-antialiased;
	display: inline-block;
}
.topic-form__content:empty::before {
	content: attr(placeholder);
	color: #959ca3;
	display: block;
	opacity: 1;
	pointer-events: none;
	transition: opacity .3s;
}
.topic-form__content:empty:active::before,
.topic-form__content:empty:focus::before {
	opacity: .75;
}
.topic-form__actions {
	padding: .5rem;
	background: #fcfbfa;
}
.topic-form__thumbs {
	display: flex;
	padding: .5rem;
}
.thumb {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #d4d4d4, 1px 1px 1px #e4e4e4;
	margin-right: .5rem;
}
.thumb__img {
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit: cover;
	border-radius: 5px;
}
.thumb__remove {
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	background: rgba(0,0,0,.62);
	color: #fff;
	opacity: 0.75;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.thumb__remove:hover {
	color: #fff;
	opacity: 1;
}
.topic-form__error {
	color: #ea6d6d;
	font-size: .85rem;
	padding: .5rem;
}


.attach {
	background: #f5f5f5;
	color: #333333;
	border: 1px dashed #CCCCCC;
	padding: 6px 10px;
	outline: none;
	-webkit-transition: border .3s, background .3s, color .3s;
	transition: border .3s, background .3s, color .3s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.attach:hover, .attach:focus { background-color: #fefefe;border-color: #CACACA;text-decoration: none; }
.attach.dragover { background-color: #fefefe;border-color: #CACACA;text-decoration: none; padding: 9px 15px; }

.tmb-container {
	background: #ededed;
	color: #333333;
	border: 1px dashed #CCCCCC;
	padding: 5px 5px;
	margin: 5px 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	border-radius: 5px;
}
.tmb-container .tmb-file {
	display: block;
	width: 65px;
	height: 45px;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}
.tmb-container .tmb-file span {
	background: #ddd;
	display: block;
	width: 65px;
	height: 45px;
	text-align: center;
	padding: 14px;
	font-size: 12px;
	border-radius: 5px;
}
.tmb-container .tmb-filename {
	display: block;
	font-size: 13px;
	margin: 0 10px;
}
.tmb-container .tmb-remove {
	display: block;
	font-size: 13px;
	margin: 0 10px;
	cursor: pointer;
}



.app--dark { background: #292929; color: #eee; }
.app--dark header { background: #333; border-color: #333; }
.app--dark .header__item { color: #eee; }
.app--dark .header__item:hover { color: #fff; }
.app--dark .header__item--active,
.app--dark .header__item--active:hover { color: #333; }

.app--dark .topic,
.app--dark .comment,
.app--dark .form,
.app--dark .topic__navigation,
.app--dark .page__content,
.app--dark .aside__block {
	background: #333;
	box-shadow: 0 0 2px #2d2d2d, 1px 1px 1px #232323;
	border: none;
}
.app--dark .file { box-shadow: 0 0 2px #2d2d2d, 1px 1px 1px #232323; }
.app--dark .list__item > a { color: #eee; }
.app--dark .list__item--active > a { color: #959ca3; }
.app--dark .list__item:hover > a { color: #959ca3; }
.app--dark .list__item--divide { border-color: #292929; }



.app--burichan { background: #EEF2FF; color: #333; }
.app--burichan header { background: #D6DAF0; border-color: #ccc; box-shadow: 0 0 40px rgba(0,0,0,.1); }
.app--burichan .header__item { color: #333; }
.app--burichan .header__item:hover { background-color: #9988EE; color: #000; }
.app--burichan .header__item--active,
.app--burichan .header__item--active:hover { background-color: #9988EE; color: #000; }

.app--burichan .topic,
.app--burichan .comment,
.app--burichan .form,
.app--burichan .topic__navigation,
.app--burichan .page__content,
.app--burichan .aside__block {
	background: #D6DAF0;
	border-right: 1px solid #d3d3d3;
	box-shadow: 0 0 2px #d4d4d4, 1px 1px 1px #e4e4e4;
}
.app--burichan .file { box-shadow: 0 0 2px #2d2d2d, 1px 1px 1px #232323; }
.app--burichan .list__item--active > a,
.app--burichan .list__item--active:hover > a { background-color: #9988EE; color: #000; }
.app--burichan .list__item--divide { border-color: #292929; }
.app--burichan .button--action { background: #9988EE; border-color: #9988EE; color: #000; }


@media only screen and (max-width: 1050px) {
	.topic,
	.topic__comments {
		border-radius: 0 .25rem .25rem 0;
	}
	.aside__block {
		border-radius: .25rem 0 0 .25rem;
	}
	.page__content {
		border-radius: 0;
	}
}